body{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 50px;
    line-height: 59px;
    margin-top: 88px;
    margin-bottom: 72px;
    text-align: center;
}
img{
    width: 350px;
    height: 194px;
    margin: 10px;
}
h2{
    font-size: 36px;
    line-height: 42px;
    margin-top: 68px;
    margin-bottom: 0;
}
h3  {
    font-size: 28px;
    line-height: 33px;
    margin-top: 49px;
    margin-bottom: 0;
    text-align: left;
}
p{
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 0;
}
ul{
    font-size: 18px;
    line-height: 21px;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
form{
    margin-bottom: 105px;
}
input {
    width: 429px;
    height: 80px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 32px;
    margin-bottom: 0;
    padding: 23px;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
}
button{
    width: 429px;
    height: 80px;
    background: #008968;
    border-radius: 20px;
    margin-top: 32px;
    padding: 23px;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}